<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Storyteller</title> 
       
        <link rel="icon" type="image/png" href="/img/icon.jpeg">
        <link rel="stylesheet" type="text/css" href="vendors/css/normalize.css">
        <link rel="stylesheet" type="text/css" href="vendors/css/grid.css">                
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        </script>
    </head>
    <body>
        <header>
            <div class="hero-text-box">
                <h1><i>Story Teller</i></h1>
            </div>
        </header>       

        <section class="section__registry">
            <div class="section__registry--breadcrumb"> {{{breadCrumb}}}</div>
            <div class="section__registry--level-nav">
                {{{levelNav.levelNavAdd}}}
                {{{levelNav.levelNavHome}}}
                {{{levelNav.levelNavPrevious}}} 
                {{{levelNav.levelNavTop}}} 
                {{{levelNav.levelNavNext}}}
                {{{levelNav.levelNavVoid}}}
                {{{levelNav.levelNavDump}}}
                {{{levelNav.levelNavRestore}}}
            </div>
            <div class="section__registry--single">
                <form name="registryForm" id="registryForm" action="/add-accountable-submit" method="post">
                    <div class="section__registry--single--title"><h2>Insert / Edit Accountable</h2> </div>
                    <div class="section__registry--single--add">
                    
                        <div class="section__registry--single--form-line-top">                            
                            Title: <input type="text" name="title" value="{{{accountable.title}}}"/> 
                        </div>
                        <div class="section__registry--single--form-line">
                            Name: <input type="text" name="name" value="{{{accountable.name}}}"/> 
                        </div>
                        <div class="section__registry--single--form-line">
                            Amount: <input type="text" name="amount" value="{{{accountable.amount}}}"/> 
                        </div>
                        <div class="section__registry--single--form-line">
                            Icon: <input type="text" name="ionIcon" value="{{{accountable.ionIcon}}}"/> 
                        </div>
                    </div>                
                    
                    <div class="section__registry--single--actions">                    
                        <a class="button button-full" href="#" onclick="submitForm()">Submit</a>
                        <a class="button button-full" href="#" onclick="clearForm()">Reset</a>
                    </div>
                    <input type="hidden" value="{{{selectedRegistry}}}" name="id" />
                    <input type="hidden" value="{{{parentId}}}" name="parentId" />
                </form>
            </div>
            <hr>            
        </section>

        <footer>
            Health check - {{{this.connectionStatus}}}<br>
            &copy; pedrotfs
        </footer>
        
        <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
        <script src="/js/client-side-app.js"></script>        
    </body>
</html>