<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Storyteller</title> 
       
        <link rel="icon" type="image/png" href="/img/icon.jpeg">
        <link rel="stylesheet" type="text/css" href="vendors/css/normalize.css">
        <link rel="stylesheet" type="text/css" href="vendors/css/grid.css">                
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        </script>
    </head>
    <body>
        <header>
            <div class="hero-text-box">
                <h1><i>Story Teller</i></h1>
            </div>
        </header>       

        <section class="section__registry">
            <div class="section__registry--breadcrumb"> {{{breadCrumb}}}</div>
            <div class="section__registry--level-nav">
                {{{levelNav.levelNavAdd}}}
                {{{levelNav.levelNavHome}}}
                {{{levelNav.levelNavPrevious}}} 
                {{{levelNav.levelNavTop}}} 
                {{{levelNav.levelNavNext}}}
                {{{levelNav.levelNavVoid}}}
                {{{levelNav.levelNavDump}}}
                {{{levelNav.levelNavRestore}}}
            </div>
            <div class="section__registry--single">
                <form name="registryForm" id="registryForm" action="/add-registry-submit" method="post">                    
                    <div class="section__registry--single--title"><h2>Insert / Edit Registry</h2> </div>
                    <div class="section__registry--single--add">
                    
                        <div class="section__registry--single--form-line-top">
                            {{registry.title}} 111111111111
                            Title: <input type="text" name="title" placeholder="{{{registry.title}}}"/> 
                        </div>

                        <div class="section__registry--single--form-line-registry-select">
                            Type: 
                            <select name="type">
                                {{#each hierarchyList}}
                                <option value="{{this}}">
                                    {{this}}
                                </option>
                                {{/each}}
                            </select>
                        </div>

                        <div class="section__registry--single--form-line">
                            Name: <input type="text" name="name"/> 
                        </div>
                        <div class="section__registry--single--form-line">
                            Time: <input type="text" name="time"/> 
                        </div>
                        <div class="section__registry--single--form-text-area">
                            <label for="text">Text:</label>
                            <textarea name="text"> </textarea>
                        </div>
                        <div class="section__registry--single--form-line">
                            Order: <input type="text" name="orderIndex"/> 
                        </div>
                        <div class="section__registry--single--form-line">
                            Image: <input type="text" name="imgPath"/> 
                        </div>
                    </div>                
                    
                    <div class="section__registry--single--actions">                    
                        <a class="button button-full" href="#" onclick="submitAddRegistry()">Submit</a>
                        <a class="button button-full" href="#" onclick="clearAddRegistry()">Reset</a>
                    </div>

                </form>
            </div>
            <hr>            
        </section>

        <footer>
            Health check - {{{this.connectionStatus}}}<br>
            &copy; pedrotfs
        </footer>
        
        <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
        <script src="/js/client-side-app.js"></script>        
    </body>
</html>